/* Navbar */
#sites2 {
    width:100%;
}

.right-align {
    margin-right: 2em;
}

.navbar-costum-colors {
    background-color: #474747;
    border: none;
}

.navbar-nav.nav > li > a, .navbar-header > a.navbar-brand {
    color: #00CCFF;
}

.navbar-nav.nav > li > a:hover {
    color: #0024FF;
    font-size: 16px;
}
.navbar-header > a.navbar-brand:hover {
    color: #0024FF;
}

/* Header */
.page-header {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: #919191;
}

h1:hover {
    color: #0024FF;
}

/* Body and text colors and size */
h1, h3, h5 {
    text-align: center;
}

p.home-page {
    font-size: 24;
}

#color-big {
    color: #9C9C9C;
    background-color: #474747;
    border: solid 2px black;
    border-radius: 7%;
}

#color-mid {
    background-color: #9C9C9C;
    border: solid 2px black;
    border-radius: 7%;
}

#color-small {
    background-color: #E8E8E8;
    border: solid 2px black;
    border-radius: 7%;
}

body {
    background-image: url("img/kkunov.jpg");
}

.contacts {
    text-align: center;
    color: #0044FF;
}

.spacer10em {
    margin-top: 10em;
}

.spacer4em {
    margin-top: 4em;
}


/* Home Page Button */
#sites2 {
    background-color: #474747;
    color: #0088FF;
    font-size: 20px;
}

#sites2:hover {
    color: #0300A3;
}
