<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>kKunov.tk</title>

        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-costum-colors">
            <div class="countainer">

                <div class="navbar-header">
                    <a href="#" class="navbar-brand">kKunov.tk</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a type="button" class="btn right-align" id="home">Home</a></li>
                    <li><a type="button" class="btn right-align" id="sites">Купи Сайт!</a></li>
                    <li><a type="button" class="btn right-align" href="http://kokal.tk">My Other Site</a></li>
                </ul>

            </div>
        </div>

        <div id="content"></div>

        <script src="/static/jquery/dist/jquery.js"></script>
        <script src="/static/app.js"></script>
    </body>
</html>
